@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Nunito+Sans:opsz@6..12&family=Nunito:wght@400;600&family=Roboto+Slab:wght@600&display=swap');
body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    
}

/* Styles de la barre de navigation */
.navbar {
    font-size: 12px;
    background-color: #ffffff;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar img.logo {
    max-height: 40px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color:#000000;
   font-size: 12px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #cf3034;
}

.navbar .contact {
    background-color:#cf3034;
    padding: 8px 20px;
    border-radius: 9px;
}

.navbar .contact a {
    color:#ffffff;
   
}

/* Styles pour la section "Valeur" */
.veleur-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.div-un {
    margin-top: 30px;
    width: 600px;
    margin-left: 100px;
    padding-right: 20px;
}

.div-un button {
    margin-top: 50px;
    width: 137px;
    height: 41px;
    font-size: 18px;
    background-color: #cf3034;
    border-radius: 50px;
    border-color: #FAFAFA;
    color: #ffffff;
}

.div-deux {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 10fr;
    width: 450px;
    margin-left: 80px;
}

.valeur {
    margin-top: 60px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.valeurs .h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: bold;
    color: #cf3034;
    font-family: Arial, Helvetica, sans-serif;
}

.valeurs h1 {
    font-size: 2.5rem;
    font-style: bold;
    color: #cf3034;
}

.valeurs p {
    font-variant-numeric: 5px;
}

.chiffre h2 {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F6D1DA;
    margin-right: 30px;
    margin-left: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.lettre {
    display: flex;
    width: 500px;
    padding: auto;
}

.Noschiffre {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #cf3034;
}

/* Styles pour la section "Recrutement" */
.recrutement {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.partie-1 img {
    background-color: #cf3034;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
}

.offre {
    display: flex;
}

form {
    display: grid;
    margin-right: 100px;
    grid-template-columns: 6fr;
}

.form1 {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.form2 {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.form1 input {
    width: 250px;
    height: 80px;
    padding-left: 1;
    margin-right: 20px;
    border: solid gray 3px;
}

.form2 input {
    width: 250px;
    height: 80px;
    margin-right: 20px;
    border: solid gray 3px;
}

.iconify-icon {
    color: #cf3034;
    margin-left: 300px;
}

.partie-1 h1 {
    font-size: 30px;
    border-top: 3px solid #cf3034;
    border-bottom: 3px solid #cf3034;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partie-1 h3 {
    display: flex;
    justify-content: right;
    font-size: 25px !important;
}

a {
    text-decoration: none;
    font-size: 25px !important;
}

.offre-info h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #cf3034;
}

.offre-info p {
    font-size: 20px;
}

.offre-info h4 {
    color: #cf3034;
    font-size: 20px;
}

.partie-1 button {
    margin-top: 30px;
    margin-left: 50%;
    color: var(--blanc);
    font-size: 20px;
    background-color: #cf3034;
    border: 0.1px solid transparent;
    border-radius: 35px;
    width: 140px;
    height: 50px;
}

.offre-details {
    margin-top: 130px;
    margin-left: 60px;
}

.offre-details p {
    font-size: 20px;
}

.partie-2 h1 {
    margin-top: 50px;
    font-size: 30px;
    color: #cf3034;
}

.partie-2 {
    margin-left: 50px;
}

.fichier {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #cf3034;
}

.partie-2 p {
    width: 500px;
    height: 500px;
    font-size: 18px;
}

.message textarea {
    width: 540px;
    height: 200px;
    margin-left: 20px;
    border: solid gray 3px;
    margin-top: 20px;
}

.accord {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

.btn {
    display: flex;
    margin-left: 20px;
}

.btn input {
    width: 200px;
    height: 50px;
    border: 0.1px solid transparent;
    border-radius: 35px;
    color: #ffffff;
    font-size: 18px;
    background-color: #cf3034;
}

/* section-petite-histoire */

.section-petite-histoire{
    display: flex;
    justify-content: space-evenly;
}
.section-petite-histoire .texte-contenaire{
    width: 450px;
}

/* image de la section image-contenaire */

.image-contenaire img{
    width: 100%;
    height: 400px;
}