@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Nunito+Sans:opsz@6..12&family=Nunito:wght@400;600&family=Roboto+Slab:wght@600&display=swap');

body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    
}
.toolbar{
    display: flex;
    align-items: center;
    background-color: rgb(255,255,255);
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 1px;
    height: 96px;
    margin: 5px;
    margin-right: 5px;
}
/*ajout*/
.nav-bar .image36{
    filter: brightness(90%);
    padding-left: 40px;
}
/*ajout*/
.nav-bar{
    display: flex;
    margin: 6px;
    align-items: center;
    background-color: rgb(255,255,255);
}
.button-navbar{
    display: flex;
    /*border: 0px;*/
    margin-left: 30px;/*s8 la*/
}
.toolbar .home1{
    color:rgb(206,0,51);
}
.toolbar a{
    margin: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
}
.toolbar li{
    list-style: none;    /*list-style: none;*/
    /*list-style-type: style positionn;*/
}
.button_recherche{
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.button{
    border: 0px;
    margin-left: 10px;
    background-color: rgb(206,0,51);
    color: white;
    height: 30px;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: none; 
    padding: 6px 13px;
    padding-top: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

        /* Style pour le conteneur du menu déroulant */
.lang-menu {
    position: relative;
    display: flex;
}

        /* Style pour le bouton du menu déroulant */
.lang-button {
    font-weight: bold;
}

        /* Style pour la flèche du menu déroulant */
.arrow-down {
    display: inline-block;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
    right: 10px;
    color: rgb(206,0,51);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
        /* Style pour les options du menu déroulant */
.arrow-down .lang-options {
    position: absolute;
    top: 100%;
    display: none;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

        /* Style pour chaque option du menu déroulant */
.lang-option {
    padding: 5px;
}

        /* Style pour mettre en surbrillance l'option survolée */
.lang-option:hover {
    background-color: #f2f2f2;
}

        /* Afficher les options lorsqu'elles sont sélectionnées */
.arrow-down:hover .lang-options {
    display: block;
}
.arrow-down:hover .button {
    display: block;
}
.button:hover {
    color:#000;
}
.actualite{
    background-color: rgb(253,245,247);
    height: 600px;
    width: 100%;
    /*padding-left: 0%;*/
    display: flex;
    padding-top: 50px;
    padding-bottom: 60px;
}
/*.actualite img{
    width: 40%;
    height: 100%;
    margin-left: 100px;
}   height: 420px;
    width: 100%;*/
.affiche{
    /*background-color: rgba(253, 245, 247, 0.897);*/
    height: 600px;
    width: 500px;
    /*background-color: bisque;*/
    border-radius: 30px;
    margin-top: 30px;
   /* margin-left: 20px;*/
    padding-left: 150px;
}
.texte{
    font-family: 'Nunito', sans-serif;
    width: 500px;
    margin-left: 30px;
    line-height: 1.8;
    padding-left: 50px;
}
.texte h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(206,0,51);
}
.texte h3{
    font-size: 20px;
}
/*.events h3 span{
    font-size: 16px;
}*/
/*.events h3 {
    font-size: 35px;
    font-weight: bold;
}*/
.events h1{
    margin-left: 30px;
    margin-right: 10px;
    color: rgb(206,0,51);
    font-size: 40px;
    font-weight: bold;
}

.next-events{
display: flex;
margin-left: 80px;
}
.next-event1{
    display: flex;
    background-color: rgb(206,0,51);
    width: 40%;
    height:180px;
    color: white;
    border-radius: 5px;
    padding-left: 60px;
    margin-right: 30px;
}
.date_event1{
    position:absolute;
    padding-top: 25px;
}
.jour_event1 {
    display: block;
    font-weight: bold;
    font-size:40px ;
}
.mois_event1 {
    display: block;
    font-size: 16px;
    opacity: 1;
    letter-spacing: 2px;
    font-weight: bold;
}
.contenu_event1{
    position:absolute;
    left:220px;
    padding-top: 10px;
}
.contenu_event1 h4{
    display: block;
    font-size:18px;
}
.contenu_event1 h3{
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.barre1{
    position: absolute;
    width: 45px;
    height: 2.5px;
    background-color: white;
    top: 35px;
    left:150px;
}
.button-next_event1{
    display: block;
    background-color: white;
    color: rgb(206,0,51);
    font-size: 16px;
    border: none; /* Supprimer la bordure */
    border-radius: 50%; /* Coins arrondis */
    width: 45px;
    height: 45px;
    margin:10px;
    margin-left: 475px;
    margin-top: 100px;
}
.flèche{
    font-weight: bold;
    font-size: 30px;
    margin:-12px;
    margin-top: -18px;
}
.next-event2{
    display: flex;
    background-color: rgb(206,0,51);           
    width: 40%;
    height: 180px;
    color: white;
    border-radius: 5px;
    padding-left: 50px;
    margin-left: 05px;
}
.date_event2{
    position:absolute;
    padding-top: 25px;
}
.jour_event2 {
    display: block;
    font-weight: bold;
    font-size:40px ;
}
.mois_event2 {
    display: block;
    font-size: 16px;
    opacity: 1;
    letter-spacing: 2px;
    font-weight: bold;
}
.contenu_event2{
    position:absolute;
    left:870px;
    padding-top: 10px;
}
.contenu_event2 h4{
    display: block;
    font-size:18px;
}
.contenu_event2 h3{
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.barre2{
    position: absolute;
    width: 45px;
    height: 2.5px;
    background-color: white;
    top: 35px;
    left:150px;
}
.button-next_event2{
    display: block;
    background-color: white;
    color: rgb(206,0,51);
    font-size: 16px;
    border: none; /* Supprimer la bordure */
    border-radius: 50%; /* Coins arrondis */
    width: 45px;
    height: 45px;
    margin:10px;
    margin-left: 475px;
    margin-top: 90px;
}
h2{
    font-size: 24px;
    color:rgb(206,0,51);
    margin-left: 79%;
    font-weight: bold;
}
            .tire{
                background: black;
                width:110px;
                height: 5px;
                border-radius: 10px;
                margin-bottom: 30px;
                margin-top: -15px;
            }
            .image-container {
                color: white;
                height: 50%;
                font-family: Arial, sans-serif;
                background-image: url('img/35.png'); /* Remplacez avec le chemin de votre image */
                background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément body */
                background-position: center; /* Centre l'image horizontalement */
                background-repeat: no-repeat; 
            }
            .image-container p{
                padding-bottom: 190px;
            }
            .overflay-box {
    width: 80%;
                height: 200px;
    /* Rouge transparent */
                color: #fff; /* Texte blanc */
                text-align: center;
               /* Centrer le texte verticalement */
}
    .resultat{
        position: absolute;
        display: flex;
        height: 200px;
        margin-top: -100px;
        background-color: rgba(215, 19, 67, 0.925); 
        width: 75%;
        margin-left: 5%;
        padding-left: 15%;
        margin-right: 5%;
    }
.info h1{
    color: white;
    padding-left: 0%;
}
    .info p{
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: 90px;

    
    }
    .contain{
        height: 700px;
        padding-bottom: 70px;
    }
       .contain h4{
            font-family: 'Courier New', Courier, monospace;
            color: white;
            font-weight: bold;
            font-size: 70px;
            padding-left: 160px;
            padding-top: 150px;
}

    .contain p{
        padding-left: 10%;
    }
   .contain h1{
        color: white;
        font-size: 40px;
        font-weight: bold;
    }
    .info{
        text-align: center;
        padding-left: 45px;
    }
    .section-histoire{
    margin-top: 30px;
        display: flex;
        padding-left: 10%;
}

    .section-histoire .texte-contenaire{
        width: 80%;
        line-height: 1.9;
        font-size: 30px;
}
    .image-contenaire{
        width: 100%;
        height: 400px;
        margin-top: 900px;
        box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);

        margin-right: 80px;
        margin-bottom: 30px;
        border-radius: 0px 0px 20px 20px;
    }
    .image-contenaire img{
    
        border-bottom: 8px solid #cf3034;
        width: 100%;
        height:80%;
    }
    .image-contenaire h3{
    margin-top: 30px;
        margin-left: -30px;
        padding-left: 10px;
        padding-top: 10px;
        background: #cf3034;
        color: #ffff;
        width: 150px;
        height: 35px;
        position: absolute;
        border-radius: 0px 20px 20px 0px;
        box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);

    }
    .banière{
    position: relative;
    width: 100%;
}
.Image26{
    filter: brightness(70%);
    width: 100%;
    height: 550px;
    display: block; 
}

.texte-content{
    position: absolute;
    bottom: 20px; /* Ajuste la position verticale */
    right: 40%; /* Ajuste la position horizontale*/
    padding: 20px;
    border-radius: 10px;
    
}
.texte-content h1{
    color:white;
    font-size: 48px;
    font-weight: bold;
}

.texte-content  p{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.texte-content button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border: 0px;
    background: #cf3034;
    color: #ffff;
    font-size: 16px;
}
.texte-content .button-passage{
    text-align: center; /* Aligne les boutons au centre horizontalement */
    padding-top: 0;
    padding-left: 550px;
}
.texte-content .button-rond{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
}
.texte-content .button-rectangle{
    width: 50px;
    height: 10px;
    background-color: white;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}
.h1nº1{
    display: flex;
    font-size: 48px;
    color: #cf3034;
    justify-content: center;
}
.titre{
    margin-left: 50px;
    padding-bottom: 20px;
    color: #cf3034;
    font-size: 24px;
}

.carde-actualite-content{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}
.card{
    width: 350px;
    margin: 8px;
}
.card h3{
    margin: 0px;
}
.card p{
    color: darkgray;
}
.image-card-1 img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.image-card-1 p{
    color: #ffff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    padding-bottom: 8px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 230px;
    margin-top: -20px;
    position:absolute;
    background: #cf3034;

}
.image-card-1 p span{
    font-size: 12px;

}
.voirPlus{
    display: flex;
    justify-content: right;
    font-size: 16px;
    margin-right: 40px;
    color: #cf3034;
}
.voirPlus span{
    width: 50px;
    height: 50px;
    padding: 08px;
    border-radius: 80%;
    background: #cf3034;
    color:#ffff ;
}
/* code section formateur */

.ligne{
    background: black;
    width:110px;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: -15px;

}
.titre-formateurs{
    color: #cf3034;
    font-size: 32px;
    margin-left: 50px;
}
.formateurs{
    display: flex;
    margin-left: 100px;

}

.formateur{
    padding-top: 40px;
    display: flex;
    border-radius: 10px;
    width: 500px;
    margin-left: 90px;
    box-shadow: 1px 1px 8px 13px rgb(240, 239, 239);

}
.formateur hr{
    width: 150px;
    height: 5px;
}
.formateurs-texte-content p{
    margin-right: 16px;
}
.formateurs-texte-content{
    margin-right: 20px;
    margin-top: 40px;
    padding-left: 50px;
}
.formateurs-texte-content button{
    margin-bottom: 30px;
    background: #cf3034;
    border: 0px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #ffff;
    margin-left: 230px;
}
.formateur img{
    margin-left: -20px;
    margin-top: -60px;
    padding-bottom: 2px;
    width: 280px; height: 230px;
    border-radius: 10px; 
    box-shadow: 1px 1px 8px 13px rgb(240, 239, 239);
}
.formateur .signe{
    color: #ffff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6px;
    height: 50px;
    padding-bottom: 8px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 430px;
    margin-top: -60px;
    position:absolute;
    background: #cf3034;
}
/* code section histoire */

    
    .image-contenaire h2{
        font-size: 18px;
        color: #000;
        padding-left: 10px;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .image-contenaire span{
        position: relative;
        font-size: 18px;
        color: #ffff;
        background: #cf3034;
        width: 100px;
        height: 30px;
        margin-left: 400px;
        margin-top: -80px;
        padding-top: 10px;
        border-radius: 10px;
        display: flex;
    justify-content: center;
}
.titre-formateurs h1{
        margin-top: 90px;
        font-size: 35px;
        color: #cf3034;
}
.texte-contenaire{
        margin-top: 40px;
}
.texte-contenaire p{
    margin-top: 50px;
    margin-left: 35%;
    font-size: 20px;
}
.titre-formateurs p{
    padding-left: 100px;
}
.ligne{
    margin-left: 0px;
    background: black;
    width:150px;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: -15px;
}
.titre-formateurs{
    margin-top: 190px;
    color: #cf3034;
    font-size: 32px;
    margin-left: 50px;
    line-height: 1.7;
}
hr{
    width: 20px;
    margin-right: 80%;
    font-weight: bold;
 }
 .equipe h1{
    margin-left: 5%;
    color: #cf3034;
 }
 .image-equipe{
    margin-left: 25%;
    width: 60%;
    height: 400px;
 }

 .formateurs{
    margin-top: 100px;
    display: flex;
    margin-left: 100px;
}

.formateur{
    padding-top: 40px;
    display: flex;
    border-radius: 10px;
    width: 500px;
    margin-left: 90px;
    box-shadow: 1px 1px 8px 13px rgb(240, 239, 239);

}
.formateur hr{
    width: 150px;
    height: 5px;
}
.formateurs-texte-content p{
    margin-right: 18px;
}
.formateurs-texte-content{
    margin-right: 20px;
    margin-top: 40px;
    padding-left: 50px;
}
.formateurs-texte-content button{
    margin-bottom: 30px;
    background: #cf3034;
    border: 0px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #ffff;
    margin-left: 230px;
}
.formateur img{
    margin-left: -20px;
    margin-top: -60px;
    padding-bottom: 2px;
    width: 280px; height: 230px;
    border-radius: 10px; 
    box-shadow: 1px 1px 8px 13px rgb(240, 239, 239);
}
.formateur .signe{
    color: #ffff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6px;
    height: 50px;
    padding-bottom: 8px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 430px;
    margin-top: -60px;
    position:absolute;
    background: #cf3034;
}
.image-pedago{
    padding-left: 0%;
}
.equipe{
    display: flex;
    justify-content: space-evenly;
}
#section-histoire1{
    margin-top: -100px;
}
.formateur-equipe{
    width: 320px;
    height: 380px;
    margin-top: 100px;
    box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 0px 0px 20px 20px;
    display: grid;
}
.formateur-equipe p{
    text-align: left;
    padding-top: 22px;
    padding-left: 30px;
    line-height: 1.5;
}
.footer-title h2{
    text-align: start;
}
.footer-title p{
    text-align: start;
}
.formateur-footer{
    display: flex;
    padding-left: 3px;
}
.formateur-footer img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.footer-title{
    padding-left: 10px;
}
.section-histoire{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.image-contenaire{
    width: 1200px;
    height: 600px;
    margin-top: 80px;
    box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 0px 0px 20px 20px;
}
.image-contenaire img{

    border-bottom: 8px solid #cf3034;
    width: 100%;
    height:80%;
}
.image-contenaire h3{
    margin-top: 30px;
    margin-left: -40px;
    padding-left: 10px;
    padding-top: 10px;
    background: #cf3034;
    color: #ffff;
    width: 300px;
    height: 35px;
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);

}
.info  span{
    margin: 20px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
}
.image-contenaire span{
    position: relative;
    font-size: 18px;
    color: #ffff;
    background: #cf3034;
    width: 100px;
    height: 30px;
    margin-left: 400px;
    margin-top: -80px;
    padding-top: 10px;
    border-radius: 10px;
    display: flex;
    font-style: var(--body-highlight-font-size);
    font-family: 'JetBrains Mono', monospace;
    
    justify-content: center;
}
.image-contenaire h2{
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.Noschiffre p {
    font-family:'JetBrains Mono', monospace;
    font-size: 1.2rem;
    color: #ffff;
}
.texte-contenaire .titre-formateurs{
    margin-top: 0px;
    font-size: 20px;
}
.texte-contenaire{
    margin-left: 80px;
    margin-right: 80px;
}
.texte-contenaire p{

    margin: 20px;
    font-size: 18px;
}
/* code formulaire */

.nous-contacter{
    margin-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
}
.localisation img{
    width: 35px;
}
.localisation span{
    font-size: 28px;
    margin-left: 12px;
}
.localisation p{
    color: darkgrey;
    font-size: 14px;
    margin-left: 50px;
}
.message textarea {
    width: 625px;
    height: 200px;
    margin-left: 20px;
    border: 0px;
    box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);

    margin-top: 20px;
}
form {
    display: grid;
    margin-right: 100px;
    grid-template-columns: 6fr;
}

.form1 {

    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.form2 {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.form1 input {
    width: 300px;
    height: 50px;
    padding-left: 1;
    margin-right: 20px;
    border: solid  0px;
    box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);

}

.form2 input {
    width: 300px;
    height: 50px;
    margin-right: 20px;
    border: 0px;
    box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);

}
.accord {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

.btn {
    display: flex;
    margin-left: 20px;
}

.btn input {
    width: 200px;
    height: 50px;
    border: 0.1px solid transparent;
    border-radius: 35px;
    color: #ffff;
    font-size: 18px;
    background-color: #cf3034;
}

/* code footer */

footer {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color:#000;
    color: #ffff;
    display: flex;
    justify-content: space-around;
}

.carte2 {
    display: grid;
}

.carte1 {
    display: grid;
}

.carte2 a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color:#cf3034;
}

.social1 {
    display: flex;
    justify-content: space-evenly;
}
.social1 img{
    margin: 10px;
}

.carte3 p {
    font-size: 20px;
}

.carte4 p {
    font-size: 20px;
}

.Newsletter {
    margin-top: 30px;
    font-size: 20px;
}

.Newsletter .input {
    background-color: #ffff;
    border-radius: 15px 0px 0px 15px;
    margin-right: 0px;
    padding-right: 8px;
    width: 200px;
    height: 50px;
}

.Newsletter input {
    font-size: 18px;
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px transparent;
    border-radius: 0px 15px 15px 0px;
    background-color: #cf3034;
    width: 100px;
    height: 50px;
}

.copy {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    background-color: #cf3034;
}